{
  "overrides": [
    {
      "files": [
        "**/*.json",
        "**/*.md"
      ],
      "options": {
        "useTabs": false
      }
    }
  ],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "<TYPES>^(node:)",
    "<TYPES>",
    "<TYPES>^[.]",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/(.*)$",
    "^@/styles/(.*)$",
    "^[./]"
  ]
}